<main>
    <div class="container-fluid">
        <div class="row" id="contenedor">
            <div class="col-md-12 text-center">
                <h1 id="tittle">Conteo</h1>
                <h1 id="counter">{{count}}</h1>

                <div class="row">
                    <div class="col-md-12 mt-3">
                        <button class="btn btn-success" #increment (click)="Increment()" >+ Increment</button>
                        <button id="space" disabled></button>
                        <button class="btn btn-danger" #decrement (click)="Decrement()"> - Decrement</button></div>
                        
                </div>
                </div>
            </div>


        </div>

</main>

